@font-face {
    font-family: 'ChosunKg'; /* 사용할 폰트의 이름을 정의 */
    src: url('./fonts/ChosunKg.TTF'); /* 폰트 파일의 위치 */
  }

  @font-face {
    font-family: 'Puradak Gentle Gothic'; /* 사용할 폰트의 이름을 정의 */
    src: url('./fonts/Puradak Gentle Gothic.ttf'); /* 폰트 파일의 위치 */
  }